/*/*/bin/
/bundles/archived/*/bin/
.DS_Store

# maven
target/
# files generated (temporary) by the tycho maven builds
.polyglot.*
.META-INF_*
pom.tycho
.tycho-consumer-pom.xml
**/libinventory
**/target
*.dll
*.exe
*.exp
*.iml
*.lib
*.o
*.obj
*.polyglot*
*.res
*.vscode
.idea/
/*/*/target/
/bundles/org.eclipse.osgi/supplement/target/
/target/
bundles/org.eclipse.equinox.ds.tests/
bundles/org.eclipse.equinox.http.servlet.tests/
rt.equinox.binaries/
